<?php

/*
 * This file is part of the SahiDriver.
 * (c) 2010 Konstantin Kudryashov <ever.zet@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

if (!class_exists('Everzet\\SahiDriver\\UniversalClassLoader')) {
    require_once __DIR__.'/src/Everzet/SahiDriver/UniversalClassLoader.php';
}
use Everzet\SahiDriver\UniversalClassLoader;

$loader = new UniversalClassLoader();
$loader->registerNamespaces(array(
  'Everzet\SahiDriver'  => __DIR__ . '/src',
  'Buzz'                => __DIR__ . '/vendor/Buzz/lib'
));
$loader->register();
